<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계좌 정보</title>
</head>
<body>
<!--<h3 th:text="'계좌 정보'"></h3>-->
<!--이름 <input type="text" name="name" th:value="${list.name}"></br>-->
<!--아이디 <input type="text" name="id" th:value="${list.id}"></br>-->
<!--비밀번호 <input type="text" name="password" th:value="${list.password}"></br>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>고객 이름</th>-->
<!--        <th>계좌 번호</th>-->
<!--        &lt;!&ndash; 다른 열들 추가 &ndash;&gt;-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    &lt;!&ndash; 'list' 데이터를 반복하여 테이블 행을 생성 &ndash;&gt;-->
<!--    <tr th:each="customer : ${list}">-->
<!--        <td th:text="${customer.name}"></td>-->
<!--        <td th:text="${customer.accountNumber}"></td>-->
<!--        &lt;!&ndash; 다른 열들 추가 &ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>