<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>계좌 관리</title>
  <!-- 부트스트랩 링크 추가 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<style>
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
</style>
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" th:text="'계좌 관리 사이트'"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{register}">계좌 등록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{list}">목록</a>
      </li>
    </ul>
  </div>
</nav>

<!-- 컨텐츠 영역 -->
<div class="container mt-4">
  <h1 class="display-4 mb-4" th:text="'계좌 관리'"></h1>
  <p>은행 계좌를 쉽게 관리하고, 잔액을 확인하며, 거래 내역을 추적하는 데 도움을 드립니다.</p>
</div>

<!-- 부트스트랩 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
