<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>계좌 관리</title>
  <!-- 부트스트랩 링크 추가 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<style>
  body {
    background-color: #f8f9fa;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  .content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .link-container {
    text-align: center;
    margin-top: 20px;
  }
</style>
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" th:text="'계좌 관리 사이트'"></a>
</nav>

<!-- 컨텐츠 영역 -->
<div class="container mt-4 content-container">
  <h1 class="display-4 mb-4" th:text="'계좌 관리'"></h1>
  <p>여기에서 은행 계좌를 효율적으로 관리하고, 잔액을 확인하며, 거래 내역을 간편하게 확인할 수 있습니다.</p>
</div>

<!-- 링크 컨테이너 -->
<div class="container link-container">
  <a class="btn btn-primary" th:href="@{register}">계좌 등록</a>
  <a class="btn btn-secondary" th:href="@{list}">목록</a>
</div>

<!-- 부트스트랩 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
