<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>고객 정보 리스트</title>
  <!-- 부트스트랩 링크 추가 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h1>내 계좌 리스트</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>은행</th>
      <th>계좌번호</th>
      <th>잔액</th>
      <th>거래 내역</th>
      <th>수정 및 삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account:${list}">
      <td>
        <span th:text="${account.a_id}"></span>
      </td>
      <td>
        <span th:text="${account.bank_name}"></span>
      </td>
      <td>
        <span th:text="${account.account_number}"></span>
      </td>
      <td>
        <span th:text="${account.balance}"></span>
      </td>
      <td>
        <a class="btn btn-success btn-sm" th:href="@{'transaction/'+${account.a_id}}">거래 내역</a>
        <a class="btn btn-primary btn-sm" th:href="@{'register_transaction/'+${account.a_id}}">등록</a>
      </td>
      <td>
        <a class="btn btn-primary btn-sm mr-1" th:href="@{'update/'+${account.a_id}}">수정</a>
        <a class="btn btn-danger btn-sm" th:href="@{'delete/'+${account.a_id}}">삭제</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{register_account}">계좌 등록</a>
</div>

<!-- 부트스트랩 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
