<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>고객 정보 리스트</title>
</head>
<body>
<h1>고객 정보 리스트</h1>
<table border>
  <tr>
    <td>이름</td>
    <td>아이디</td>
    <td></td>
    <td></td>
  </tr>
  <tr th:each="user:${list}">
    <td>
      <span th:text="${user.name}"></span>
    </td>
    <td>
      <span th:text="${user.id}"></span>
    </td>
    <td>
      <a th:href="@{'information/'+${user.c_id}}">정보보기</a>
    </td>
    <td>
      <a th:href="@{'update/'+${user.c_id}}">수정</a>
    </td>
  </tr>
</table>
<a th:href="@{sign_up}">사용자등록</a>
</body>
</html>